.rightbar {
    flex: 3.5;
}

.rightbarWrapper {
    padding: 20px 20px 0 0;
}

.eventContainer {
    display: flex;
    align-items: center;   
}

.starImg {
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

.eventText {
    font-weight: 200;
    font-size: 13px;
}

.eventImg {
    width: 100%;
    border-radius: 10px;
    margin: 25px 0;
}

.rightbarTitle {
    margin-bottom: 20px;
}

.rightbarFriendList {
    padding: 0;
    margin: 0;
    list-style: none;
}

.rightbarFriend {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.rightbarProfileImgContainer {
    margin-right: 10px;
    position: relative;
}

.rightbarProfileImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.rightbarUserName {
    font-weight: 550;
}

.rightbarOnline {
    background-color: blueviolet;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: -2px;
    left: 0;
    border: 2px solid white;
}

.promotionTitle {
    font-size: 18px;
    font-weight: 550;
    opacity: 0.8;
    margin-bottom: 10px;
}

.rightbarPromotionImg {
    width: 80%;
    border-radius: 10px;
    margin: 25px 0;
}

.promotionName {
    font-size: small;
    color: rgb(79, 82, 79);
    margin-top: -15px;
}

.rightbarTitle {
    font-size: 16px;
    font-weight: 550;
    margin-bottom: 10px;
}

.rightbarInfo {
    margin-bottom: 30px;
}

.rightbarInfoKey {
    font-weight: 500;
    margin-right: 5px;
    color: #555;
}

.rightbarInfoItem {
    margin-bottom: 10px;
}


.rightbarFollowings {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.rightbarFollowingName {
    font-size: 10px;
    display: flex;
    justify-content: center;
    color: #555;
}

.rightbarFollowing {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    cursor: pointer;
}

.rightbarFollowingImg {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}